//variables

@import 'variables/colors';
@import 'variables/breakpoints';
@import 'variables/typography';
@import 'variables/font-sizes';

//elements

@import 'elements/elements';

//responsive

@import 'responsive/responsive';

//propperties

@import 'propperties/propperties';

//animations

@import 'animations/hover';

//livewires

@import 'livewire/carousel';
@import 'livewire/carousel_slide';

@import 'livewire/service_item';
@import 'livewire/services';

@import 'livewire/blog_home';
@import 'livewire/blog_item';
@import 'livewire/blog_content';
@import 'livewire/blog_entry';

@import 'livewire/product_item';
@import 'livewire/product_entry';

@import 'livewire/image_slider';

@import 'livewire/contact_form';
@import 'livewire/contact_text';

@import 'livewire/what_we_do_text';
@import 'livewire/what_we_do_images';
@import 'livewire/what_we_do_item';

@import 'livewire/brands_top';
@import 'livewire/brands_slider';

@import 'livewire/my_navbar';





body{
    font-family: $tg-jakarta !important;
}

a {
    font-size: inherit !important;
    color: inherit !important;
}

p {
    white-space: pre-line;
}

.content {
    max-width: 100vw;
    overflow-x: hidden;
}

li {
    list-style: none;
}


