.brands_top {
    position: relative;
    .bg-gradient-black-left{
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 5;
    }
    .title_thin-white{
        font-size: 2.2rem;
        margin: 0 auto;
        padding: 50px 80px 50px 50px;
        width: 90%;
        position: absolute;
        top: 15%;
        z-index: 10;
    }

    .right {
        div{
            width: 122%;
            display: block;
        }
        
    }
}

@media #{$breakpoints-medium} {

}
    
@media #{$breakpoints-large} {

    .title_thin-white{
        font-size: 3.5rem !important;
        padding: 0 !important;
        width: 60% !important;
        position: relative !important;
        
    }
    .right {
        div{
            display: block !important;
        }
    }
}


@media #{$breakpoints-xlarge} {

}