.what_we_do_text {
    background-color: $color-white-1;
    position: relative;
    padding: 50px 0;
    z-index: 5;

    .title_container {
        display: flex;
        width: 100%;
        padding: 50px;
        .title-black {
            width: 22rem;
        }
    }
    .right {
        justify-content: flex-end;
    }
    .left {
        justify-content: flex-start;
    }

    .text_container{

        p {
            width: 50%;
            margin: 0 auto;
            margin-top: 60px;
            font-weight: $fw-extra_light;
        }
    }

}

@media #{$breakpoints-medium} {

}
    
@media #{$breakpoints-large} {
    .what_we_do_text {
        
        z-index: 5;
    }
   
}


@media #{$breakpoints-xlarge} {

}