.fs-extra_big { font-size: 6rem; }
.fs-big { font-size: 3.5rem; }
.fs-medium { font-size: 2.2rem; }
.fs-regular { font-size: 1.2rem; }
.fs-small { font-size: .8rem; }

@media #{$breakpoints-medium} {

    
}
    
@media #{$breakpoints-large} {


}


@media #{$breakpoints-xlarge} {

}