@import "~@fontsource/plus-jakarta-sans";
@import "~@fontsource/plus-jakarta-sans/800.css";
@import "~@fontsource/plus-jakarta-sans/500.css";
@import "~@fontsource/plus-jakarta-sans/400.css";
@import "~@fontsource/plus-jakarta-sans/200.css";

$tg-jakarta:'Plus Jakarta Sans', sans-serif;

$fw-extra_bold: 800;
$fw-medium: 500;
$fw-regular: 400;
$fw-extra_light: 200;

