.bg_green{
    background-color: $color-green-1;
}

.bg_wood{
    background-color: $color-wood-1;
}

.bg_white{
    background-color: $color-white-1;
}

.title-black {
    font-weight: $fw-extra_bold;
    color: $color-black-1;
}

.title-white {
    font-weight: $fw-extra_bold;
    color: $color-white-1;
}

.title_thin-black {
    font-weight: $fw-extra_light;
    color: $color-black-1;
}

.title_thin-white {
    font-weight: $fw-extra_light;
    color: $color-white-1;
}

.text-gray {
    color: $color-gray-2;
}

.text-black {
    color: $color-black-1;
}

.text-white {
    color: $color-white-1;
}


.form *{
    margin: 5px;
}

a {
    text-decoration: none !important;
}

.input {
    background: $color-gray-5;
    border: 0;
    color: $color-gray-1;
    padding: 10px;
    width: 100%;
}

.textarea {
    background: $color-gray-5;
    border: 0;
    color: $color-gray-1;
    height: 300px;
    padding: 10px;
    resize: none;
    width: 100%;
}

.button {
    background: $color-black-1;
    border: 0;
    color: $color-white-1;
    text-align: center;
    padding: 10px;
    width: 100%;
}

.container-gray {
    background-color: rgba(217, 217, 217, .57);
    border-radius: 15px;
    padding: 3rem;
    width: max-content;
    max-width: 100vw;
}


.circle-container {
    position: relative;
    width: 100%;
    padding-top: 100%;
    overflow: hidden;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: auto;
        height: 100%;
    }
}
.square-container {
    position: relative;
    width: 100%;
    padding-top: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: auto;
        height: 100%;
    }
}


.rectangle-container {
    position: relative;
    width: 100%;
    padding-top: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: auto;
    }
}

.rectangle_vertical-container {
    position: relative;
    width: 100%;
    padding-top: 200%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: auto;
        height: 100%;
    }
}

.rectangle_vertical_big-container {
    position: relative;
    width: 100%;
    padding-top: 300%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: auto;
        height: 100%;
    }
}

.map-frame {
    width: 100%;
    height: 500px;
}

.ul-horizontal {
    li{
        display: inline-block;
    }
    
}

